body {
    font-size: 14px;
    background: gray;


}

.hi {
    font-family: 'Bungee', cursive;
}

#home {
    color: ghostwhite;
    background: brown;
    font-size: 1em;
}

a:hover {
    color: limegreen;
}

a:active {
    color: yellow;
}

h1 {
    margin: 0;
}

ul {
    padding: 0;
}

ul a {
    color: aqua;
}

li {

    margin: 0.25em 1em;
    display: inline;
